<nav class="navbar is-primary">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="title is-4" style="font-family: cursive;">baseball information</h1>
    <% end %>
  </div>  


    <% if user_signed_in? %>
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-item">
          <%= link_to "投稿一覧", posts_path, class: "navbar-item button is-primary is-light" %>
        </div>
        <div class="navbar-item">
          <%= link_to "新規投稿", new_post_path, class: "navbar-item button is-primary is-light" %>
        </div>
        
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to "ユーザー一覧", users_path, class: "button is-primary is-light" %>
              </p>
              <p class="control">
                <%= link_to "マイアカウント", user_path(current_user), class: "button is-primary is-light" %>
              </p> 
              <p class="control">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-primary is-light" %>
              </p>
            </div>
          </div>
        </div>
      </div>  
    <% else %>
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-item">
          <%= link_to "投稿一覧", posts_path, class: "navbar-item button is-primary is-light" %>
        </div>
        <div class="navbar-item">
          <%= link_to "ユーザー一覧", users_path, class: "navbar-item button is-primary is-light" %>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to "ログイン", new_user_session_path, class: "button is-primary is-light" %>
              </p>
              <p class="control">
                <%= link_to "新規登録", new_user_registration_path, class: "button is-primary is-light" %>
              </p>
            </div>
          </div>
        </div>
      </div>  
    <% end %>
</nav>    